node_modules/
.venv/
.env
backend/__pycache__/
cnn_model_asl-alphabet_dataset/extracted_features/X_train.npy
cnn_model_asl-alphabet_dataset/extracted_features/X_val.npy
cnn_model_asl-alphabet_dataset/extracted_features/y_train.npy
cnn_model_asl-alphabet_dataset/extracted_features/y_val.npy
GRU_for_signframe/cnn_extracted_features
GRU_for_signframe/.ipynb_checkpoints
cnn_model_asl-alphabet_dataset/.ipynb_checkpoints